{% extends "base.html" %}

{% block title%}知了传课-首页{%endblock%}

{% block head%}

    <!-- <link rel="stylesheet" href="../static/css/index.css"> -->
    <link rel="stylesheet" href="{{url_for('static', filename ='css/index.css')}}">

{% endblock%}

{%block body%}
     <div class="row" style="margin-top: 20px;">
            <div class="col"></div>
            <div class="col-10">
                <ul class="question-ul">
                    <li>
                    <div class="side-question">
                        <img class="side-question-avatar" src="../static/images/avatar.jpg" alt="">
                    </div>
                    <div class="question-main">
                        <div class="question-title"><a href="#">title</a></div>
                        <div class="question-content">content</div>
                        <div class="question-detail">
                            <span class="question-author">username</span>
                            <span class="question-time">create_time</span>
                        </div>
                    </div>
                </li>
                </ul>
            </div>
            <div class="col"></div>
        </div>
{% endblock %}

